* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .selector::selection {
  background-color: #00ADB5 !important;
  color: #222831 !important;
} */

:root {
  --primary-color: #222831;
  --secondary-color: #00adb5;
  --neutral-color: #393e46;
  --font-color: white;
  --shadow-standart: 0.125rem 0.25rem 0.725rem rgba(0, 0, 0, 0.085);
}

span,
.nav-link {
  color: var(--font-color) !important;
}

nav {
  background-color: var(--primary-color);
  border-bottom: 0.313rem solid var(--secondary-color);
}

.navbar-toggler-icon span {
  color: white !important;
}

.text-light {
  color: var(--secondary-color) !important;
}

.btn-default {
  color: var(--font-color);
  background-color: var(--secondary-color);
}

.btn-default:hover {
  color: var(--font-color);
  background-color: #018e96;
  transition: background-color 450ms ease-in-out;
}

#home {
  color: var(--font-color);
  background: no-repeat;
  background-size: 100%;
  background-image: url(./assets/Background.jpg);
}

.btn-animation {
  transition: transform 200ms ease-in-out;
}

.btn-animation:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#text-home {
  margin: 6.5rem;
}

#text-name {
  font-size: 4rem;
  font-weight: 43.75rem;
}

#text-description {
  width: 31.25rem;
}

.container-img-about {
  width: 190rem;
}

.img-thumbnail {
  max-width: none;
}

#img-about {
  background-color: var(--secondary-color);
  box-shadow: var(--shadow-standart);
}

.card-img-top {
  width: 6.25rem;
}

.card-skills {
  text-align: center;
  width: 10rem;
  padding-top: 0.625rem;
  margin: 1.25rem 1.875rem;
  border: none;
  transition: transform 200ms ease-in-out;
}

.card-skills:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-standart);
}

.container-projects {
  justify-content: center;
}

.card {
  max-width: 33.75rem;
  margin: 3.125rem 1.25rem;
  border: none;
  transition: transform 200ms ease-in-out;
  box-shadow: var(--shadow-standart);
}

.card:hover {
  transform: scale(1.06);
  box-shadow: var(--shadow-standart);
}

#container-img-contact {
  z-index: 1;
  margin: 10rem 0 -17.5rem 10rem;
}

#img-contact {
  width: 20rem;
  border: none;
  border-radius: 100%;
  box-shadow: var(--shadow-standart);
}

section {
  padding-top: 6rem;
}

footer {
  text-align: center;
  background-image: -webkit-linear-gradient(-58deg, #222831 0%, #393e46 56%);
  background-image: -moz-linear-gradient(-58deg, #222831 0%, #393e46 56%);
  background-image: -ms-linear-gradient(-58deg, #222831 0%, #393e46 56%);
}

.container-apps-contact {
  display: flex;
  justify-content: space-between;
  width: 15.625rem;
}

.img-app {
  width: 3.75rem;
  margin-top: 1.5rem;
  border-radius: 50%;
  transition: transform 200ms ease-in-out;
  box-shadow: var(--shadow-standart);
}

.img-app:hover {
  transform: scale(1.06);
  background-color: #eeeeee;
  transition: background-color 700ms ease-in-out;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-contact {
  margin: 2rem 0;
  width: auto;
  color: var(--font-color);
}

.title-email {
  font-size: 30px;
  color: var(--font-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.title-email:hover {
  color: #222831;
}

#img-contact {
  width: 13rem;
}

.img-app {
  margin-bottom: 1.25rem;
}

/* ANIMATION --> */

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@media only screen and (max-width: 768px) {
  .h-100 {
    height: auto !important;
  }

  .text.about {
    flex-direction: column;
  }

  .container-img-about {
    display: flex;
    justify-content: center;
    width: auto;
  }

  #img-about {
    width: 21.875rem;
  }

  #text-home {
    padding-top: 4.5rem;
    margin: 2rem;
  }

  #text-name {
    font-size: 3rem;
  }

  #text-description {
    font-size: 2rem;
    width: 20rem;
  }

  .container-about {
    flex-direction: column;
  }

  .container-skills {
    justify-content: center;
  }

  #container-img-contact {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin: 10rem 0 -7rem 0;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
  }

  .title-email {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  #home {
    background-image: url(./assets/Background-mobile.jpg);
  }

  #text-home {
    padding-top: 12.5rem;
    margin: 2rem;
  }
}
